.is-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100vh;
  padding: 1.1em;
  overflow: hidden;
}

.project-image,
.project-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  object-fit: cover;
  object-position: center;
  will-change: transform;
  transition: transform $a;
}

.project-image {
  width: 101%;
  height: 101%;
}

.project-video {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: auto;
}

.with-video-bg {
  @include laptop {
    // cursor: url(./../img/cursors/cursor-eye.png) 16 16, auto;
  }

  .project-image {
    z-index: 1;
  }

  &:hover {
    .project-image {
      transform: translateX(-100%);
    }
  }
}

.is-banner__copies {
  pointer-events: none;

  position: relative;
  z-index: 1;
  display: flex;
  @include container;
  color: $global-color;

  .is-logo__icon {
    filter: $filter-white;
    height: 31px;
    margin-top: 10px;
  }
}

.is-banner__line {
  height: 1px;
  background-color: $primary-color;
  margin: 0.55em 1em 0;
  flex: 1;
}

.project-text {
  width: 10em;
}

.project-heading {
  font-size: 1em;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 5px;
}

.project-company {
  margin: 0;
  font-family: $font-sub;
  @include small-text;
  letter-spacing: 1.5px;
  color: $primary-color;
  text-transform: uppercase;
}

.is-banner__post {
  justify-content: center;

  .is-banner__copies {
    figcaption {
      width: 75%;
    }

    .project-heading {
      @include title;
    }
  }
}
