.black-lines {
  position: absolute;
  top: 0;
  right: 0%;

  height: 100%;
  width: 50%;

  pointer-events: none;
}

.black-line {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $grey-dark;
  }
}

.black-line__12 {
  right: (145/14.4) + 0vw;
  width: (15/14.4) + 0vw;
}

.black-line__11 {
  right: (170/14.4) + 0vw;
  width: (15/14.4) + 0vw;
}

.black-line__10 {
  right: (193/14.4) + 0vw;
  width: (8/14.4) + 0vw;
}

.black-line__9 {
  right: (235/14.4) + 0vw;
  width: (7/14.4) + 0vw;
}

.black-line__8 {
  right: (270/14.4) + 0vw;
  width: (15/14.4) + 0vw;
}

.black-line__7 {
  right: (288/14.4) + 0vw;
  width: (15/14.4) + 0vw;
}

.black-line__6 {
  right: (345/14.4) + 0vw;
  width: (30/14.4) + 0vw;
}

.black-line__5 {
  right: (395/14.4) + 0vw;
  width: (6/14.4) + 0vw;
}

.black-line__4 {
  right: (447/14.4) + 0vw;
  width: (28/14.4) + 0vw;
}

.black-line__3 {
  right: (490/14.4) + 0vw;
  width: (38/14.4) + 0vw;
}

.black-line__2 {
  right: (567/14.4) + 0vw;
  width: (31/14.4) + 0vw;
}

.black-line__1 {
  right: (646/14.4) + 0vw;
  width: (24/14.4) + 0vw;
}
