@mixin hover-right {
  @include hover {
    img {
      transform: translateX(0.5em);
    }
  }
}

.bottom-navigation {
  display: flex;
  border-top: 1px solid $primary-color;
}

.bottom-navigation__link {
  display: block;
  padding: 0.75em 9vw;
  @include medium-text;

  &:not(:only-child) {
    width: 50%;
  }

  &:last-child:not(:only-child) {
    text-align: right;
    color: $global-color;
    @include hover-right();
  }

  @include laptop {
    cursor: pointer;
  }

  @include hover {
    img {
      transform: translateX(-0.5em);
    }
  }

  img {
    height: 10px;
    margin: 0 3px;
    will-change: transform;
    transition: transform $a;
  }
}

.bottom-navigation__director {
  background-color: $grey-base;

  .bottom-navigation__link {
    color: $global-color;
  }
}

.bottom-navigation__creative {
  justify-content: flex-end;
  background-color: $global-color;
  text-align: right;

  .bottom-navigation__link {
    color: $grey-base;
    @include hover-right();
  }
}
