.is-container {
  padding: 0 15px;

  @include tablet {
    padding: 0 15px;
  }

  @include laptop {
    padding: 0 30px;
  }

  @include desktop {
    padding: 0 30px;
  }
}

.flex__row {
  display: flex;
}

.flex__beetwen {
  justify-content: space-between;
}

.flex__center-vertical {
  align-items: center;
}

.flex__center-horizontal {
  justify-content: center;
}
