.is-credit {
  background-color: $primary-color;

  @include tablet-max {
    margin-bottom: 2em;
  }
}

.is-credit__toggler {
  width: 100%;
  justify-content: center;
  @include link-with-arrow;
  align-items: baseline;
  padding: 1.25em;
  border: 0;
  color: $global-color;
  background-color: $primary-color;

  i {
    font-size: 12px;
  }

  @include hover {
    i {
      transform: translateY(2px);
    }
  }
}

.is-credit__content {
  color: $global-color;

  @include tablet {
    max-height: 0;
    transition: max-height 0.5s $t;
  }

  p {
    margin: 0;
    font-family: $font-sub;
    font-size: 18px;
    line-height: 1.25;
  }

  br {
    display: block;
  }
}

.is-credit__wrapper {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  pointer-events: none;

  @include tablet {
    display: flex;
    padding-top: 2.5em;
    padding-bottom: 3.5em;
  }

  & > * {
    flex: 1 1 0;
    padding-right: 1em;
  }
}

p.is-credit__title,
.is-credit__title {
  margin-bottom: 1.5em;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.is-credit {
  &.is-expanded {
    .is-credit__toggler {
      i {
        transform: rotate(0.5turn);
      }
    }
  }
}
