$size: 44px;
$color: $primary-color;

body {
  // @include laptop {
  //   cursor: url(./../img/cursors/cursor-dot.svg) -4 -4, auto;
  // }
}

.is-cursor {
  display: none !important;

  width: $size;
  height: $size;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid $primary-color;
  z-index: 9999999;
  pointer-events: none;
  // transition: opacity $as, transform 0.1s ease-out;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border-radius: 50%;
    // opacity: 0;
    visibility: hidden;
  }

  &.inactive {
    opacity: 0;
  }

  &.pointer {
    &:after {
      visibility: visible;
      animation: scaling 1s ease-in-out 0s infinite alternate backwards;
      animation: name duration timing-function delay iteration-count direction
        fill-mode;
    }
  }
}

@keyframes scaling {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
