.is-footer {
  position: relative;
  padding: 2em 0;
  background-color: $footer-grey;
  border-top: 1px solid $primary-color;

  @include tablet {
    padding: 2em 0 3.1em;
  }
}

.is-translated {
  margin-top: -$mainpageOffsetMobile;

  @include tablet {
    margin-top: -$mainpageOffset;
  }
}

.is-footer__container {
  @include tablet {
    @include container;
    display: flex;
  }
}

.is-footer__logo {
  @include mobile-max {
    display: none;
  }

  display: flex;
  flex-basis: calc(50% + 0.75em);

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    margin: 0 5px;
    margin-top: 0.7em;
  }

  a:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    will-change: transform;
    transition: transform $as;
  }
}

.is-footer__info {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 0.75em);

  @include mobile-max {
    width: 60%;
    margin: auto;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.is-footer__text {
  flex-basis: 45%;
  padding-top: 0.25em;

  @include mobile-max {
    padding-bottom: 1em;
  }
}

.is-footer__info-title {
  @include medium-text;
  margin: 0 0 10px;

  @include tablet {
    margin: 0 0 20px;
  }
}

.is-footer__text p {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: $font-primary;
  @include regular-text;
  line-height: 1.25;

  a {
    @include hover-underlined;
  }
}

.is-footer__info-link {
  @include link-with-arrow;
}

.is-footer__black {
  background-color: $grey-base;

  .is-footer__logo img {
    filter: invert(1);
  }

  .is-footer__info-title,
  .is-footer__text p,
  .is-footer__text p a,
  .is-copyright {
    color: $global-color;
  }
}

.is-footer__white {
  background-color: $global-color;
}

.is-footer__gold {
  background-color: $primary-color;

  .is-footer__logo:after {
    background-color: $grey-base;
  }

  .is-footer__info-link {
    color: $global-color;
  }
}

.is-copyright {
  font-family: $font-sub;

  @include mobile-max {
    font-size: 0.7em;
    text-align: center;
  }

  @include tablet {
    position: absolute;
    right: 2em;
    bottom: 2em;
    font-size: 0.5em;
  }
}
