$translation: 10vw;

.is-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    transition: background-color $a;
  }

  &.is-scrolled {
    background-color: $global-color;

    @include laptop {
      background-color: transparent;
    }

    .is-logo img {
      filter: $filter-primary;
    }

    .is-logo__icon {
      g {
        fill: $primary-color;
      }
    }

    .navigation-btn {
      @include hover {
        &:before,
        &:after {
          background-color: $primary-color;
        }
      }
    }
  }
}

.is-logo {
  position: relative;
  z-index: 3;
  display: flex;
  padding: 11px 12px;
  align-items: center;

  @include laptop {
    justify-content: center;
  }

  @include tablet {
    padding: 24px 23px;
  }

  svg g {
    fill: $grey-base;
  }
}

.is-logo__icon {
  @include mobile-max {
    width: 23px;
    height: 23px;
  }
}

.is-logo__icon g,
.is-logo__name {
  transition: opacity 0.5s 0.5s ease-in-out;
}

.is-logo__name {
  margin-left: 5px;

  @include mobile-max {
    width: 50%;
  }

  @include laptop {
    margin-left: 10px;
  }
}

.navigation-btn__wrapper {
  position: relative;
  z-index: 3;
  padding: 15px;

  @include tablet {
    padding: 30px 25px;
  }
}

.is-navigation {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-left: 15vw;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  @include laptop {
    padding-left: 94px;
  }

  > ul {
    @include flex-column;
    padding: 10vh 0;

    // padding: 65px 0;

    height: 100%;

    li {
      &:last-child {
        display: flex;
        align-items: flex-end;
        height: 100%;
      }
    }

    @include laptop {
      height: 100%;
    }
  }

  li {
    will-change: transform;

    @include tablet {
      display: flex;
      align-items: center;
    }

    // @include laptop {
    //   flex: 0 1 100%;
    // }

    &.is-active {
      .navigation-link {
        color: $primary-color;
      }
    }

    @include hover {
      .navigation-link {
        color: $primary-color;
      }
    }
  }
}

.navigation-link {
  display: block;
  width: 100%;

  padding: 10px 0.5vw;

  @media screen and (min-width: 360px) {
    font-size: 12px;
  }

  @media screen and (min-width: 400px) {
    font-size: 13px;
  }

  @include tablet {
    padding: 0.15em 0.5vw;
  }

  @include laptop {
    padding: 0 0 0 5vw;
    padding: 0 0 0 clamp(25px, 3vw, 3vw);
  }

  @include title();
  color: $global-color;
  transition: color $a;
}

.navigation-btn {
  @include reset-btn-styles;

  position: relative;
  z-index: 1;
  @include flex-center;
  @include size(18px 16px);

  @include tablet {
    @include size(32px 33px);
  }

  @include laptop {
    cursor: pointer;
  }

  &:before,
  &:after {
    content: "";
    @include size(100% 2px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 50%;
    background-color: $primary-color;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: transform $a, background-color $a;
    will-change: transform;

    @include tablet {
      @include size(100% 4px);
    }
  }

  &:before {
    top: 3px;

    @include tablet {
      top: 9px;
    }
  }

  &:after {
    top: 12px;
    transform: translate(-50%, -50%);

    @include tablet {
      top: 24px;
    }
  }

  @include hover {
    &:before,
    &:after {
      background-color: $global-color;
    }
  }
}

// nav animations
@mixin header-active {
  .is-active & {
    @content;
  }
}

@mixin header-closing {
  .is-closing:not(.is-active) & {
    @content;
  }
}

.navigation-btn__wrapper {
  @include header-closing() {
    pointer-events: none;
  }
}

.navigation-btn {
  @include header-active() {
    &:before {
      transform: translate(-50%, -34%) rotate(30deg);
    }

    &:after {
      transform: translate(-50%, -48%) rotate(-31deg);
    }
  }
}

.is-logo__icon {
  @include header-active() {
    g {
      fill: $global-color;
    }
  }

  &.is-white {
    g {
      fill: $global-color;
    }
  }
}

.is-logo__name {
  @include header-active() {
    transition: opacity $nav-overlay-transition;
    opacity: 0;
  }

  @include header-closing() {
    transition: opacity $nav-overlay-transition
      $nav-overlay-transition/2;
  }
}

.is-navigation {
  z-index: -1;
  visibility: hidden;

  @include header-active() {
    visibility: visible;
    z-index: 2;
  }

  @include header-closing() {
    transition: visibility 0s 1s;
    z-index: 2;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: $grey-base;

    @include header-active {
      transition: opacity $nav-overlay-transition ease-in-out;
      opacity: 1;
    }

    @include header-closing() {
      transition: $nav-overlay-transition ease-in-out;
    }
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    will-change: transform;
    background-color: $grey-base;
    z-index: -1;

    @include header-active() {
      transition: $nav-overlay-transition * 0.75 ease-in-out;
      transform: translateX(0);
    }

    @include header-closing() {
      transition: $nav-overlay-transition 0.25s ease-in-out;
    }
  }
}

.is-navigation > ul {
  li {
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transform: translateX($translation * $i);
      }
    }
    opacity: 0;

    @include header-active() {
      transform: translateX(0);
      opacity: 1;

      &:nth-of-type(1) {
        transition: transform 0.5s 0.25s ease-out,
          opacity 0.8s 0.25s ease-out;
      }

      @for $i from 2 through 5 {
        &:nth-child(#{$i}) {
          transition: transform 0.5s + $i * 0.05 0.25s ease-out,
            opacity 0.35s + $i * 0.05 0.25s ease-out;
        }
      }
    }

    @include header-closing() {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: translateX($translation * 6 - ($i * 10));
          transition: transform 0.5s + $i * 0.05 0.15s ease-out,
            opacity 0.35s + $i * 0.05 0.15s ease-out;
        }
      }
    }
  }
}

.socials {
  @include header-active() {
    transition: opacity $a-nav;
    transition-delay: 0.9s;
    opacity: 1;
    pointer-events: unset;
  }
}

.header-transparent {
  @include header-transparent;
}

.contact-is-active {
  li {
    &.is-active {
      a {
        color: $global-color !important;
      }
    }

    &:nth-of-type(4) {
      a {
        color: $primary-color;
      }
    }
  }
}
