$cb: cubic-bezier(0.66, 0.08, 0.33, 0.98);

.is-creative__page {
  .is-main__dark {
    animation: moveDarkBg_Creative__MOBILE 1s 0.35s ease-in-out
      forwards;

    @include tablet {
      animation: moveDarkBg_Creative 1s 0.35s ease-in-out forwards;
    }
  }

  .main-link__director {
    opacity: 0;
    pointer-events: none;
  }

  .main-link__creative {
    pointer-events: none;
    animation: moveShowCreativeLink_Creative__MOBILE 1.8s 0.65s $cb
      forwards;

    @include tablet {
      animation: moveShowCreativeLink_Creative 1.8s 0.65s $cb forwards;
    }

    @include desktop-hd {
      animation-delay: 0.6s;
    }

    @include desktop-2k {
      animation-delay: 0.7s;
    }

    img {
      opacity: 0;
    }
  }

  .is-main__dark-link {
    pointer-events: unset;
    animation: showHomepageArrow_Creative 0.75s 2.2s forwards;
  }

  .black-lines {
    z-index: 1;
  }

  .black-line {
    transform-origin: right;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-name: moveBlackLineCreative;
        animation-duration: 1s;
        animation-delay: 0.4s + $i * 0.1;
        animation-fill-mode: forwards;

        &:after {
          transform-origin: right;
          animation-name: scaleBlackLineCreative;
          animation-duration: 0.75s;
          animation-delay: 0.5s + $i * 0.075;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}
@keyframes moveDarkBg_Creative__MOBILE {
  to {
    width: 45px;
  }
}

@keyframes moveDarkBg_Creative {
  to {
    width: 100px;
  }
}

@keyframes moveShowCreativeLink_Creative__MOBILE {
  to {
    right: 45px;
  }
}

@keyframes moveShowCreativeLink_Creative {
  to {
    right: 100px;
  }
}

@keyframes showHomepageArrow_Creative {
  to {
    opacity: 1;
  }
}

@keyframes moveBlackLineCreative {
  to {
    transform: translateX(300%);
  }
}

@keyframes scaleBlackLineCreative {
  to {
    width: 0;
  }
}

.is-director__page {
  .is-main__dark {
    animation: moveDarkBg_Director__MOBILE 1s 0.35s ease-in-out
      forwards;

    @include tablet {
      animation: moveDarkBg_Director 1s 0.35s ease-in-out forwards;
    }
  }

  .main-link__creative {
    opacity: 0;
    pointer-events: none;
  }

  .white-lines {
    z-index: 1;
  }

  .main-link__director {
    pointer-events: none;
    animation: moveShowDirectorLink_Director__MOBILE 1.8s 0.65s $cb
      forwards;

    @include tablet {
      animation: moveShowDirectorLink_Director 1.8s 0.65s $cb forwards;
    }

    @include desktop-hd {
      animation-delay: 0.6s;
    }

    @include desktop-2k {
      animation-delay: 0.7s;
    }

    img {
      opacity: 0;
    }
  }

  .is-main__white-link {
    pointer-events: unset;
    animation: showHomepageArrow_Director 0.75s 2.2s forwards;
  }

  .white-line {
    transform-origin: left;

    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        animation-name: moveWhiteLineDirector;
        animation-duration: 1s;
        animation-delay: 0.4s + $i * 0.1;
        animation-fill-mode: forwards;

        &:after {
          transform-origin: left;
          animation-name: scaleWhiteLineDirector;
          animation-duration: 0.75s;
          animation-delay: 0.5s + $i * 0.075;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes moveDarkBg_Director__MOBILE {
  to {
    width: calc(100vw - 45px);
  }
}

@keyframes moveDarkBg_Director {
  to {
    width: calc(100vw - 100px);
  }
}

@keyframes moveShowDirectorLink_Director__MOBILE {
  to {
    left: 45px;
  }
}

@keyframes moveShowDirectorLink_Director {
  to {
    left: 100px;
  }
}

@keyframes showHomepageArrow_Director {
  to {
    opacity: 1;
  }
}

@keyframes moveWhiteLineDirector {
  to {
    transform: translateX(-300%);
  }
}

@keyframes scaleWhiteLineDirector {
  to {
    width: 0;
  }
}

.is-homepage-from-creative {
  .is-main__dark {
    width: 45px;
    animation: moveDarkBg_Creative_to_Homepage 1s 0.6s ease-in-out
      forwards;

    @include tablet {
      width: 100px;
    }
  }

  .is-main__dark-link {
    opacity: 1;
    pointer-events: none;
    animation: hideHomepageArrow_Creative_to_Homepage 0.25s forwards;
  }

  .black-lines {
    z-index: 1;
  }

  .main-link__creative {
    opacity: 0;
    transition: none;
    animation: showCreativeLink_Creative_to_Homepage 0.75s 1.75s
      forwards;
  }

  .main-link__director {
    opacity: 0;
    transform: translate(50%, -$mainpageOffsetMobile/2);
    animation: moveShowDirectorLink_Creative_to_Homepage__MOBILE 1s 1s
      forwards;

    @include tablet {
      transform: translate(50%, -$mainpageOffset);
      animation: moveShowDirectorLink_Creative_to_Homepage 1s 1s
        forwards;
    }
  }

  .black-line {
    transform-origin: right;

    @for $i from 1 through 12 {
      &:nth-last-child(#{$i}) {
        transform: translateX(300%);
        animation-name: moveBlackLine_Creative_To_Homepage;
        animation-duration: 1s;
        animation-delay: 0.1s + $i * 0.06;
        animation-fill-mode: forwards;

        &:after {
          width: 0;
          transform-origin: right;
          animation-name: scaleBlackLine_Creative_To_Homepage;
          animation-duration: 0.75s;
          animation-delay: 0.1s + $i * 0.06;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes moveDarkBg_Creative_to_Homepage {
  to {
    width: 50%;
  }
}

@keyframes hideHomepageArrow_Creative_to_Homepage {
  to {
    opacity: 0;
  }
}

@keyframes moveBlackLine_Creative_To_Homepage {
  to {
    transform: translateX(0);
  }
}

@keyframes scaleBlackLine_Creative_To_Homepage {
  to {
    width: 100%;
  }
}

@keyframes showCreativeLink_Creative_to_Homepage {
  to {
    opacity: 1;
  }
}

@keyframes moveShowDirectorLink_Creative_to_Homepage__MOBILE {
  to {
    opacity: 1;
    transform: translate(0, -$mainpageOffsetMobile/2);
  }
}

@keyframes moveShowDirectorLink_Creative_to_Homepage {
  to {
    opacity: 1;
    transform: translate(0, -$mainpageOffset);
  }
}

.is-homepage-from-director {
  .is-main__dark {
    width: calc(100vw - 45px);
    animation: moveDarkBg_Director_to_Homepage 1s 0.6s ease-in-out
      forwards;

    @include tablet {
      width: calc(100vw - 100px);
    }
  }

  .is-main__white-link {
    opacity: 1;
    pointer-events: none;
    animation: hideHomepageArrow_Director_to_Homepage 0.25s forwards;
  }

  .white-lines {
    z-index: 1;
  }

  .main-link__creative {
    opacity: 0;
    transform: translate(-50%, -$mainpageOffsetMobile/2);
    animation: moveShowDirectorLink_Director_to_Homepage__MOBILE 1s 1s
      forwards;

    @include tablet {
      transform: translate(-50%, -$mainpageOffset);
      animation: moveShowDirectorLink_Director_to_Homepage 1s 1s
        forwards;
    }
  }

  .main-link__director {
    opacity: 0;
    transition: none;
    animation: showDirectorLink_Director_to_Homepage 0.75s 1.75s
      forwards;
  }

  .white-line {
    transform-origin: left;

    @for $i from 1 through 12 {
      &:nth-last-child(#{$i}) {
        transform: translateX(-300%);
        animation-name: moveBlackLine_Director_To_Homepage;
        animation-duration: 1s;
        animation-delay: 0.1s + $i * 0.06;
        animation-fill-mode: forwards;

        &:after {
          width: 0;
          transform-origin: left;
          animation-name: scaleBlackLine_Director_To_Homepage;
          animation-duration: 0.75s;
          animation-delay: 0.1s + $i * 0.06;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes moveDarkBg_Director_to_Homepage {
  to {
    width: 50%;
  }
}

@keyframes hideHomepageArrow_Director_to_Homepage {
  to {
    opacity: 0;
  }
}

@keyframes moveShowDirectorLink_Director_to_Homepage__MOBILE {
  to {
    opacity: 1;
    transform: translate(0, -$mainpageOffsetMobile/2);
  }
}

@keyframes moveShowDirectorLink_Director_to_Homepage {
  to {
    opacity: 1;
    transform: translate(0, -$mainpageOffset);
  }
}

@keyframes showDirectorLink_Director_to_Homepage {
  to {
    opacity: 1;
  }
}

@keyframes moveBlackLine_Director_To_Homepage {
  to {
    transform: translateX(0);
  }
}

@keyframes scaleBlackLine_Director_To_Homepage {
  to {
    width: 100%;
  }
}
