.is-project {
  display: block;
  padding: 1.5em 0 0;

  @include tablet {
    padding: 1.5em 0;
  }

  &:first-child {
    padding-top: 0;

    @include tablet {
      padding-top: 3em;
    }
  }

  &:last-child {
    padding-bottom: 1.5em;

    @include tablet {
      padding-bottom: 3em;
    }
  }

  .project-text {
    @include mobile-project-text;

    @include tablet {
      margin-top: 0.5em;
      width: auto;
    }
  }
}

.is-project.right-aligned {
  .is-project-media {
    @include tablet {
      margin-left: auto;
    }
  }

  .project-text {
    text-align: right;

    @include mobile-max {
      margin-left: auto;
    }
  }
}

.is-project-media {
  position: relative;
  display: block;
  overflow: hidden;

  @include tablet-only {
    width: 100% !important;
    max-height: 350px !important;
  }
}

.is-project,
.is-project__medium {
  .is-project-media {
    @include tablet {
      width: 75%;
      height: 45vh;
      min-height: 380px;
    }
  }
}

.is-project__small {
  .is-project-media {
    @include tablet {
      width: 46%;
      height: 30vh;
      min-height: 245px;
    }
  }
}

.is-project__large {
  .is-project-media {
    @include tablet {
      width: 90%;
      height: 58vh;
      min-height: 470px;
    }
  }
}

.is-homepage__content,
.is-director__content {
  .is-project {
    &.right-aligned {
      .project-heading {
        color: $global-color;
      }
    }

    .project-text {
      @include mobile-max {
        width: 50%;
      }
    }
  }
}

.is-director__content {
  .is-project {
    .project-heading {
      @include tablet {
        color: $global-color;
      }
    }
  }

  .project-text {
    @include mobile-max {
      margin-left: auto;
    }
  }
}

.is-creative__content {
  .is-project.right-aligned .project-text {
    @include mobile-max {
      margin-left: 0;
      text-align: left;
    }
  }
}

.is-project__fullwidth {
  padding: 0 !important;

  .is-project-media {
    width: auto;
    height: 17vw;
    min-height: auto;
  }
}

.is-parallax-wrapper {
  img {
    width: 100%;

    @include laptop {
      display: none;
    }
  }
}

.is-parallax-image {
  display: none;
  height: 100vh;

  @include laptop {
    display: block;
  }
}
