.relative__block {
  padding-top: 2em;
  padding-bottom: 4em;
}

.relative_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2em;
  row-gap: 2em;
}

.relative__title {
  @include subtitle;
  padding-bottom: 1.5em;
}
