.is-slider__wrapper {
  position: relative;
  padding: 1em 0;

  @include tablet {
    padding: 4em 0;
  }
}

.is-slide {
  position: relative;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $global-color;

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include subtitle;
    width: 75%;
    line-height: 1.1;
    text-align: center;

    @include tablet {
      width: 60%;
      line-height: 1.25;
    }
  }
}

.slider-nav {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  @include tablet {
    padding: 1em;
  }

  @include laptop {
    transition: 0.35s $t;
  }

  img {
    @include mobile-max {
      width: 20px;
      height: 20px;
    }
  }
}

.slider-prev {
  left: 0;

  @include hover {
    left: -10px;
  }
}

.slider-next {
  right: 0;

  @include hover {
    right: -10px;
  }
}
