.socials {
  display: flex;

  opacity: 0;
  pointer-events: none;

  @include mobile-max {
    padding: 1em 0 0;
  }

  @include laptop {
    padding: 0 0 0 clamp(25px, 3vw, 3vw);
  }

  a {
    position: relative;
    padding: 0;
    margin-left: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile-max {
      img {
        border-radius: 15px;
        width: 30px;
        height: 30px;
        border: 1px solid $global-color;
      }
    }

    @include laptop {
      // transition: transform $a;
    }

    &:first-child {
      padding-left: 0;
    }

    @include hover {
      .hover-icon {
        opacity: 1;
      }
    }

    .hover-icon {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity $a;
    }
  }
}
