.socials {
  display: flex;

  @include mobile-max {
    padding: 1em 0;
  }

  @include laptop {
    padding: 0 0 0 clamp(25px, 3vw, 3vw);
  }

  a {
    padding: 0.5em;

    @include mobile-max {
      img {
        width: 30px;
        height: 30px;
      }
    }

    @include laptop {
      padding: 0.25em;
      transition: transform $a;
    }

    &:first-child {
      padding-left: 0;
    }

    @include hover {
      transform: scale(1.1);
    }
  }
}
