.splash-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1000;
  display: none;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
  }
}

// .splash_laptop {
//   display: none;

//   @include laptop {
//     display: block;
//   }
// }

// .splash_tablet {
//   display: none;

//   @include tablet {
//     display: block;
//   }

//   @include laptop {
//     display: none;
//   }
// }

// .splash_phone {
//   @include tablet {
//     display: none;
//   }
// }
