.is-block__video {
  position: relative;
  width: 100%;
  margin: 0 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    margin: 0 0 3em;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    background-image: url("./../img/icons/icon-play.svg");
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      width: 48px;
      height: 48px;
    }

    @include laptop {
      width: 3.5vw;
      height: 3.5vw;
    }
  }

  @include laptop {
    cursor: pointer;
  }

  & > img {
    width: 100%;
    object-fit: contain;
  }
}

.is-block__row {
  .is-block__video:not(:only-child) {
    img {
      width: 100%;
    }
  }
}

.is-block__video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey-base;
  opacity: 0;
  z-index: -1;
  transition: z-index 0.1s 0.25s, opacity 1s;

  iframe {
    width: 100% !important;
    height: 80% !important;

    @include laptop {
      width: 80% !important;
    }
  }

  .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    border: 0;
    background-color: transparent;
    background-image: url(./../img/icons/icon-close-modal.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;

    @include tablet {
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px;
    }
  }
}

.is-block__video {
  &.is-active {
    .is-block__video-overlay {
      z-index: 113;
      opacity: 1;
      transition: opacity 0.35s $t;
    }
  }
}
