$font-title: 'Rozha One';
$font-sub: 'IBM Plex Sans';

// COLORS
$global-color: #fff !global;
$transparent-color: transparent !global;

$primary-color: #ad8637 !global;
$grey-base: #191919 !global;
$grey-dark: #000 !global;
$grey-light: #ccc !global;

$footer-grey: #f6f6f6;

$font-size-base: 1em !default;
$font-family-base: $font-title, Helvetica, Arial, sans-serif;

$as: 0.15s ease-in-out;
$a: 0.25s ease-in-out;

$a-nav: 0.35s ease-out;
$al: 0.5s ease-out;

$main-block-height: 90vh;

$filter-primary: invert(53%) sepia(10%) saturate(2548%) hue-rotate(2deg)
  brightness(99%) contrast(88%);
$filter-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(268deg)
  brightness(102%) contrast(102%);

// menu hover transitions
$nav-overlay-transition: 0.7s;

// main
$flex-main-expanded: 12;
$arrow-padding: 0.15em;
