.is-about {
  .is-header {
    .is-logo__svg {
      filter: $filter-white;
    }

    .is-logo__name {
      display: none;
    }
  }

  .is-banner {
    h3 {
      width: 100%;
      margin: 0;
      font-family: $font-sub;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: right;
    }
  }
}

.is-about__text {
  text-align: center;
  border-bottom: 1px solid $primary-color;
  padding-bottom: 2em;

  h2 {
    margin: 0;
    padding: 1.25em 0;
    font-size: 1.75em;
    font-weight: normal;
  }

  p {
    margin: 0;
    padding: 0 0 1.5em;
    font-family: $font-sub;
    font-size: 0.65em;
    line-height: 1.5;
  }
}

.is-about__description {
  overflow: hidden;
  transition: max-height 0.75s ease-in-out;
}

.about-expand-toggler {
  @include link-with-arrow;
  padding: 0.5em;
  border: 0;
  margin: 3em auto 0.5em;

  &:hover {
    img {
      transform: none;
    }
  }

  span {
    margin-left: 5px;
  }

  .less {
    display: none;
  }
}

.is-about__description {
  &.is-expanded {
    & + .about-expand-toggler {
      .more {
        display: none;
      }

      .less {
        display: block;
      }

      img {
        transform: rotate(0.5turn);
      }
    }
  }
}

.about-principles {
  padding: 3em 0;
  background-color: $grey-base;
}

.about-principles__heading {
  padding-bottom: 2em;
  font-size: 1.75em;
  line-height: 1;
  color: $global-color;
}

.about-principles__content {
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 8em;
}

.about-principle {
  max-width: 10em;
  display: flex;
  align-items: center;
  border: 0.5em solid $primary-color;
  border-bottom-right-radius: 50px 50px;
  padding: 2.5em 0.5em;

  &:nth-of-type(2) {
    transform: translateY(5.5em);
  }

  &:nth-of-type(3) {
    transform: translateY(11em);
  }

  p {
    margin: 0;
    color: $global-color;
    font-size: 1.75em;
    line-height: 1.2;

    span {
      color: $primary-color;
    }
  }
}

.about-principles__text {
  margin-bottom: 2em;
  width: 50%;
  font-family: $font-sub;
  font-size: 0.65em;
  line-height: 1.66;
  color: $global-color;
}

.about-companies {
  text-align: center;
  padding: 4em 0 7em;
}

.about-companies__title {
  padding-bottom: 2em;
  font-size: 2.5em;
  color: $grey-base;
}

.about-companies__black {
  background-color: $grey-base;

  .about-companies__title {
    color: $global-color;
  }
}

.about-companies__images {
  display: grid;
  row-gap: 3em;
  column-gap: 4em;
  grid-template-columns: repeat(4, 1fr);

  img {
    display: block;
    object-fit: contain;
    object-position: center;
    width: 95%;
    margin: 0 auto;
    height: 3.5em;
  }
}

.about-history {
  padding-top: 4em;
  padding-bottom: 1.75em;
  background-color: $grey-base;

  .is-container {
    display: flex;
  }
}

.about-pdf {
  @include link-with-arrow;
}

.about-history__resume {
  width: 50%;
  padding-left: 5vw;
  align-self: center;

  p {
    margin: 0 0 0.25em;
    font-size: 1.75em;
    line-height: 0.85;
    color: $global-color;
  }
}

.about-history__projects {
  width: 50%;
  padding-left: 0.75em;

  .project-text {
    padding-bottom: 1.75em;
  }

  .project-heading {
    color: $global-color;
  }
}
