.is-about__page {
  .is-banner {
    @include mobile-max {
      & {
        padding-bottom: 0;
        margin-bottom: 1em;
      }

      &,
      figure {
        height: 100vh;
      }

      .project-image {
        transform: scale(1);
        object-position: 70%;
      }

      .is-banner__copies {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }

    h3 {
      width: 100%;
      margin: 0;
      font-family: $font-sub;
      @include regular-text;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.5px;

      @include tablet {
        text-align: right;
      }
    }
  }

  .is-block__expanded-toggler {
    margin-bottom: 1em;

    @include tablet {
      margin-bottom: 2em;
    }
  }

  .is-zebra {
    @include mobile-max {
      margin-bottom: 0;
    }
  }
}

.about-principles {
  padding: 3em 0;
  background-color: $grey-base;
  border-top: 1px solid $primary-color;
}

.about-principles__heading {
  padding-bottom: 2em;
  @include subtitle;
  color: $global-color;
}

.about-principles__content {
  @include tablet {
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 8em;
  }
}

.about-principle {
  max-width: 10em;
  display: flex;
  align-items: center;
  border: 0.5em solid $primary-color;
  border-bottom-right-radius: 50px 50px;
  padding: 2.5em 0.5em;

  @include mobile-max {
    height: 260px;
    margin: 0 auto 30px;
  }

  @include tablet {
    &:nth-of-type(2) {
      transform: translateY(5.5em);
    }

    &:nth-of-type(3) {
      transform: translateY(11em);
    }
  }

  p {
    margin: 0;
    color: $global-color;
    @include subtitle;
    line-height: 1.2;

    span {
      color: $primary-color;
    }
  }
}

.about-principles__text {
  margin-bottom: 0;
  font-family: $font-sub;
  @include regular-text;
  line-height: 1.66;
  color: $global-color;

  @include tablet {
    width: 50%;
    margin-bottom: 2em;
  }
}

.about-companies {
  text-align: center;
  padding: 2em 0 4em;

  @include tablet {
    padding: 5em 0 7em;
  }
}

.about-companies__title {
  padding-bottom: 1em;
  @include subtitle;

  @include tablet {
    padding-bottom: 3em;
  }
}

.about-companies__black {
  background-color: $grey-base;

  .about-companies__title {
    color: $global-color;
  }
}

.about-companies__images {
  display: grid;
  row-gap: 2em;
  column-gap: 1em;
  grid-template-columns: repeat(2, 1fr);

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3em;
    column-gap: 4em;
  }

  img {
    display: block;
    object-fit: contain;
    object-position: center;
    width: 75%;
    height: 4em;
    margin: 0 auto;
    filter: grayscale(1);

    @include tablet {
      width: 95%;
      height: 3.5em;
    }
  }
}

.about-history {
  padding-top: 4em;
  padding-bottom: 1.75em;
  background-color: $grey-base;

  .is-container {
    @include tablet {
      display: flex;
    }
  }
}

.about-pdf {
  @include link-with-arrow;
}

.about-history__resume {
  @include mobile-max {
    padding-bottom: 2em;
  }

  @include tablet {
    width: 50%;
    padding-left: 5vw;
    align-self: center;
  }

  p {
    margin: 0 0 0.25em;
    @include subtitle;
    line-height: 0.85;
    color: $global-color;
  }
}

.about-history__projects {
  @include tablet {
    width: 50%;
    padding-left: 0.75em;
  }

  .project-text {
    padding-bottom: 1.75em;
  }

  .project-heading {
    color: $global-color;
  }
}
