.is-catalog__grid {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.is-catalog__img {
  @include laptop {
    transition: filter 0.35s $t;
  }

  @include hover {
    filter: none !important;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include laptop {
      height: 17vw;
      transition: transform 0.35s $t;
    }
  }
}

.is-catalog__project {
  display: block;
  flex-basis: 48%;
  margin-bottom: 2em;
  padding: 0 !important;

  @include hover {
    .project-heading {
      color: $primary-color;
    }
  }

  .is-project-media {
    width: auto;
    height: 26vh;
    min-height: auto;

    @include tablet {
      height: 20vh;
    }

    @include laptop {
      height: 17vw;
    }
  }

  .project-text {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .project-heading {
    @include mobile-max {
      font-size: 1.25em;
      line-height: 1.25;
      margin-bottom: 0.2em;
    }

    margin-bottom: 0.4em;
  }

  // animation on scroll
  // &:not(.already-visible) {
  //   @include tablet {
  //     transform: translate3d(0, 100px, 0);
  //     opacity: 0;
  //   }
  // }

  // &.is-visible {
  //   animation: isVisibleAnim 0.75s ease-in-out forwards;
  //   animation-delay: 0.1s;

  //   &:nth-of-type(even) {
  //     animation-delay: 0.2s;
  //   }

  //   @for $i from 1 through 4 {
  //     &:nth-of-type(#{$i}) {
  //       animation-delay: 0s + $i * 0.1;
  //     }
  //   }
  // }

  &:nth-of-type(even) {
    animation-delay: 0.25s;
  }
}

// @keyframes isVisibleAnim {
//   from {
//     transform: translate3d(0, 100px, 0);
//     opacity: 0;
//   }

//   to {
//     transform: translate3d(0, 0, 0);
//     opacity: 1;
//   }
// }
