.is-catalog__grid {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // column-gap: 2em;
  // row-gap: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.is-catalog__project {
  display: block;
  flex-basis: 48%;
  margin-bottom: 2em;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include laptop {
      height: 17vw;
    }
  }

  .project-text {
    width: auto;
    padding-top: 0.75em;
  }

  .project-heading {
    margin-bottom: 0.4em;
  }

  // animation on scroll
  &:not(.already-visible) {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  &.is-visible {
    animation: isVisibleAnim 0.75s ease-in-out forwards;

    @for $i from 1 through 30 {
      &:nth-of-type(#{$i}) {
        animation-delay: 0s + $i * 0.15;
      }
    }
  }
}

@keyframes isVisibleAnim {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
