.is-default-page {
  padding: 5em 0;

  .page-title {
    margin: 0;
    padding-bottom: 1em;
    @include title;
  }

  .page-wrapper {
    @include container;
  }

  .is-project {
    &:last-child {
      padding-bottom: 0;
    }

    .project-heading {
      color: $grey-base;
    }
  }
}
