.is-default__page {
  padding: 4em 0 2em;

  @include tablet {
    padding: 5em 0 3em;
  }

  @include tablet {
    padding: 5em 0;
  }

  .page-title {
    margin: 0;
    padding-bottom: 1em;
    @include title;

    @include mobile-max {
      font-size: 1.3em;
    }
  }

  .page-wrapper {
    @include container;
  }

  .is-project {
    &:last-child {
      padding-bottom: 0;
    }

    .project-heading {
      color: $grey-base;
    }
  }
}
