.is-animating {
  pointer-events: none;

  .is-mainpage__content {
    transform: translateY(0);
  }
}

.mrHyde {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-base;
    width: 50%;
    z-index: -1;
  }
}

.is-creative__page,
.is-director__page {
  &:after {
    display: none;
  }
}

.is-director__page {
  .project-text {
    h3 {
      color: $grey-base;
    }
  }
}
