.is-animating {
  pointer-events: none;

  .is-mainpage__content {
    transform: translateY(0);
  }
}

.mrHyde {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-base;
    width: 50%;
    z-index: -1;
  }
}

.is-creative__content,
.is-director__content {
  display: none;
}

.is-creative__page,
.is-director__page {
  &:after {
    display: none;
  }

  .is-homepage__content {
    display: none;
  }
}

.is-creative__page {
  .is-creative__content {
    display: block;
  }
}

.is-director__page {
  background-color: $grey-base;

  .is-director__content {
    display: block;
  }
}
