.is-homepage {
  position: relative;
  min-height: 3000px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-base;
    width: 50%;
    z-index: -1;
  }

  .is-logo__name {
    display: block;
  }
}

.is-director__page {
  background-color: $grey-base;
}

.is-director__page,
.is-creative__page {
  .is-logo__name {
    display: none;
  }
}
