$em: 3em;

.is-post__page {
  .is-logo__icon {
    filter: $filter-white;
  }

  .is-logo__name {
    display: none;
  }
}

.is-post {
  margin-top: $em;
  text-align: center;

  h1,
  h2,
  h3 {
    margin-bottom: 1.5em;
  }

  p {
    margin: 0 0 $em;

    font-family: $font-sub;
    @include regular-text;
    line-height: 1.5;
  }
}

.is-post__row {
  display: flex;
  justify-content: space-between;

  & > * {
    flex: 0 1 47.5%;

    &:only-child {
      flex: 0 1 100%;
      margin-bottom: $em;

      img {
        max-width: 100%;
        width: auto;
      }
    }
  }

  p {
    margin: 0 0 0.25em;
    text-align: left;
  }

  .is-post__image:not(:only-child) {
    display: flex;

    img {
      width: 100%;
    }
  }
}

.is-post__image {
  margin: 0 0 $em;

  & > img {
    max-width: 100%;
    object-fit: contain;
  }
}

.is-post__image-copied {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey-base;
  z-index: -1;
  opacity: 0;

  transition: z-index 0.1s 0.25s, opacity $a;

  img {
    transform: scale(0.75);
    opacity: 0;
    transition: transform 0.25s 0.25s, opacity 0.25s 0.25s;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
  }
}

.is-post__image {
  @include laptop {
    cursor: url(./../img/cursors/cursor-plus.png) 32 32, auto;
  }

  &.is-active {
    .is-post__image-copied {
      z-index: 112;
      opacity: 1;
      transition: opacity $a;

      @include laptop {
        cursor: url(./../img/cursors/cursor-close.png) 32 32, auto;
      }

      img {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
