@mixin hover-right {
  @include hover {
    i {
      transform: translateX(10px);
    }
  }
}

.bottom-navigation {
  display: flex;
  border-top: 1px solid $primary-color;
  height: 100vh;
  max-height: 2.3em;
}

.bottom-navigation__link {
  display: block;
  padding: 0.75em 9vw;
  @include medium-text;

  @include mobile-max {
    font-size: 1em;
    padding: 0.55em 9vw;
  }

  &:not(:only-child) {
    width: 50%;
  }

  &:last-child:not(:only-child) {
    text-align: right;
    color: $global-color;
    @include hover-right();
  }
  cursor: pointer;

  @include hover {
    i {
      transform: translateX(-10px);
    }
  }

  i {
    display: inline-block;
    font-size: 11px;

    margin: 0 3px;
    will-change: transform;
    transition: transform 0.3s $t;
    color: $primary-color;

    @include laptop {
      position: relative;
      top: -1px;
    }

    @include desktop-hd {
      top: -2px;
    }
  }
}

.bottom-navigation__director {
  background-color: $grey-base;

  .bottom-navigation__link {
    color: $global-color;
  }
}

.bottom-navigation__creative {
  justify-content: flex-end;
  background-color: $global-color;
  text-align: right;

  .bottom-navigation__link {
    color: $grey-base;
    @include hover-right();
  }
}

.bottom-nav-is-animating {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .bottom-navigation {
    animation: increaseHeight 0.85s $t forwards;

    border: none;

    & > div {
      animation: hide 0.15s $t forwards;
    }
  }

  .is-mainpage__content {
    animation: translateUp 0.85s $t forwards;
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

@keyframes increaseHeight {
  to {
    max-height: 100vh;
  }
}

@keyframes translateUp {
  to {
    transform: translateY(-100vh);
  }
}

.from-bottom-director,
.from-bottom-creative {
  .is-main__dark {
    animation-delay: 0s !important;
  }
}

.from-bottom-director {
  .main-link__director {
    opacity: 0 !important;
  }
}

.from-bottom-creative {
  .main-link__creative {
    opacity: 0 !important;
  }
}
