.socials {
  display: flex;

  opacity: 0;
  pointer-events: none;

  @include mobile-max {
    padding: 1em 0 0;
  }

  @include laptop {
    padding: 0 0 0 clamp(25px, 3vw, 3vw);
  }

  li {
    &:first-child {
      a {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

@mixin social-image($s) {
  width: $s;
  height: $s;
  border-radius: $s/2;

  i {
    font-size: $s/2;

    &.icon-500px {
      margin-top: 3px;
      font-size: $s/1.75;
    }
  }
}

.social-link {
  margin-left: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid $global-color;
  transition: border-color 0.25s;

  @include social-image(40px);

  @include tablet {
    @include social-image(45px);
  }

  @include desktop {
    @include social-image(60px);
  }

  @include desktop-hd {
    @include social-image(70px);
  }

  @include desktop-2k {
    @include social-image(80px);
  }

  i {
    color: $global-color;
    transition: color 0.25s;
  }

  @include hover {
    border-color: $primary-color;

    i {
      color: $primary-color;
    }
  }
}
